@tailwind base;
@tailwind components;
@tailwind utilities;

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui"; */
/* .maxContent {
  width: max-content;
}
.widthFull {
  width: 1550px;
}
.displaynone {
  display: none;
}
.active {
  background: rgb(104 117 245 / var(--tw-bg-opacity));
  color: wheat;
}
.text-nowrap {
  text-wrap: nowrap;
}
.text-wrap {
  text-wrap: wrap;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  } */
/* } */

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}
